@model IEnumerable<Healthifyme.Web.Models.DietChart>

@{
    ViewData["Title"] = "Index";
}

<h1 >Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DietChartId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DietReceipeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceipeLink)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.DietCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DietChartId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.DietReceipeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceipeLink)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.DietCategory.DietCategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DietChartId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DietChartId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DietChartId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
