@model IEnumerable<Healthifyme.Web.Models.Dietition>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DietitionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DietitionExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercises)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DietCharts)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DietitionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DietitionExperience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exercises.ExerciseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DietCharts.DietImageUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DietitionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DietitionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DietitionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
