@model IEnumerable<HMS.Web.Models.Food>

@{
    ViewData["Title"] = "Menu";
}

<body style="background-color:lightcyan">
<h1 style="font-family:'Curlz MT';color:orangered">@ViewData["Title"]</h1>

<table class="table" style="background-color:#56A5EC">
    <thead style="background-color:#B7CEEC">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            
        </tr>
}
    </tbody>
</table>
</body>
